{% extends 'base.html' %}

{% block head %}
<title>Painter</title>
{% endblock %}

{% block body %}
<div class="contents">
    <br>
    <div class="row" style=" margin-top: 0pxs; margin: 10px;padding: 0px;align-content: right">
        <div class="col-sm-6">
            <div class="card" style="width: 32rem; margin-left: auto;">
                <div class="card-body">
                    
                {% for task in tasks %}
                <!-- bw -->
                    <img src={{task.content}}
                        class="rounded float-left" alt="Before" style="width: 30rem; ">                   
                {% endfor %}
                </div>
            </div>
            
        </div>
        <div class="col-sm-6" >
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <!-- color -->
                    <img id='after' src={{task.output}}
                        class="rounded float-left" style="width: 30rem;" >
                </div>
            </div>
        
        </div>
    </div>
    <div style="align-content: center;  text-align: center;">
        <div class="form">
            <form action="/" method="POST">
                <input type="text" name='content' id='content'>
                <input type="submit" value="Add Image">
            </form>
        </div>
    </div>
    <div class="container">
    {% if tasks|length < 1 %}
    <div class="container" style="text-align: center;">
    <h4>Enter URL of a Black and white Image </h4>
    </div>
    {% else %}
    
    <table class="table">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Before</th>
            <th>After</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr class="table-row thead-dark">
                <td >{{ task.content }}</td>
                <td>{{task.date_created.date()}}</td>
                <!-- bw -->
                <td><img src={{ task.content }} alt="" width="100px"></td>
                <!-- color -->
                <td><img src={{ouput}} alt="" width="100px"></td>
                <td>
                    <a href="/delete/{{task.id}}" style="width: 20px;"><button type="button" class="btn btn-primary">Delete</button></a>
                    <br><br>
                    <a href={{output}} style="width: 20px;" download="color.png"><button type="button" class="btn btn-primary">Download</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
</div>
{% endblock %}
