{% extends 'base.html' %}

{% block head %}
<title>Painter</title>
{% endblock %}

{% block body %}
<div class="contents">
    <h1>Task Master</h1>
    <br>
    <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" class="rounded float-left" alt="Before">
    <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" class="rounded float-right" alt="After">
    {% if tasks|length < 1 %}
    <h4>Enter URL of a Black and white Image </h4>
    {% else %}

    <table class="table">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Before</th>
            <th>After</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr class="table-row">
                <td >{{ task.content }}</td>
                <td>{{task.date_created.date()}}</td>
                <td><img src={{ task.content }} alt="" width="100px"></td>
                <td><img src={{ task.content }} alt="" width="100px"></td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name='content' id='content'>
            <input type="submit" value="Add Image">
        </form>
    </div>
</div>
{% endblock %}